.container {
  display: flex;
  justify-content: space-between;
  background: #f6f6f6;
  padding: 16px 24px;
  margin-top: 40px;

  & .input {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    width: 200px;
    gap: 6px;

    & input {
      outline: none;
      background-color: transparent;
      width: 100%;
      color: #797a7b;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.14px;
    }
  }

  & .selects {
    display: flex;
    align-items: center;
    gap: 24px;

    & .select__option {
      position: relative;
      display: inline-block;

      select {
        appearance: none;
        outline: none;
        background: #f6f6f6;
        padding: 0 24px;
        position: relative;
        color: #797a7b;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.14px;
      }

      & span {
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
      }
    }
  }
}
