.button {
  border-radius: 10px;
  border: 0.2px solid#d2d3d3;
  background: #3f57ff;
  box-shadow: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
  display: flex;
  padding: 10px 175px;
  width: 100%;
  justify-content: center;
  align-items: center;
  & .text {
    color: #fff;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -0.22px;
  }
}
